<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SwagLabsTestSuite">
    <test thread-count="5" name="MyTestCases">
        <classes>
            <class name="TestCases.LoginTest"/>
            <class name="TestCases.LogoutTest"/>
            <class name="TestCases.ShopingProductTest"/>
            <class name="TestCases.ShoppingCartTest"/>
        </classes>
    </test>
</suite>
